.app.light {
  --bg-color: #d4d4ee;
  --inverted-bg-color: #0b0b5b;

  --primary-color: #0326c0;
  --secondary-color: #1791ec;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;
}